#browser {
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    left:0;
    background: var(--fxos-ivory);
}

#browser > iframe{
    border: 0px solid red;
    box-sizing: border-box;
    width: 100%;
    height: calc(100%) !important;
    padding:0;
    overflow-x:hidden;
    overflow-y:auto;
}

iframe * {
    max-width: 300px;
}
