/* images */

/* Responsive images – how to prevent reflow */
/* http://andmag.se/2012/10/responsive-images-how-to-prevent-reflow/ */

/* ======================== */
/* --- Entry LIST theme --- */
/* ======================== */

.my-list-entry-s, .my-list-entry-l {
    margin-bottom:0.1rem;
    padding:var(--my-spacing);
    background-color:var(--fxos-white);
    position: relative;
    height: 0;
    overflow: hidden;
    
    background: var(--fxos-white) linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.1) 100%);
}

.my-list-title {
    line-height:2rem;
    max-height: 4rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    margin-top: 1.7rem;
    display:block;
}

.my-list-title img{
    height: 2rem;
    vertical-align: bottom;
    margin-right: var(--my-spacing);
}

.my-list-feed-title {
    font-size:1.5rem;
    line-height:1.7rem;
    color: #5F5F5F;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left:0;
    padding: var(--my-spacing) var(--my-spacing) 0% var(--my-spacing);
    box-sizing: border-box;
}

.my-list-date {
    font-size:1.5rem;
    line-height:1.7rem;
    width: 40%;
    overflow: hidden;
    text-align:right;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--fxos-orange);
    position: absolute;
    top: 0;
    left:60%;
    padding: var(--my-spacing) var(--my-spacing) 0% 0%;
    box-sizing: border-box;
}

.my-list-snippet {
    color: #5F5F5F;
    line-height:2rem;
    width:100%;
    text-overflow: ellipsis;
    font-size: 1.7rem;
}

.my-list-image-container {
    float: right;
    height: 0;
    overflow: hidden;
    width: 30%;
    display: inline-block;
}

.my-list-image-container img{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width:100%;
}

/* --- RATIOS --- */

.list-ratio-image-s { padding-bottom:25%; }
.list-ratio-image-l { padding-bottom:16%; }

.list-ratio-entry-s { padding-bottom: 16%; }
.list-ratio-entry-m { padding-bottom: 32%; }
.list-ratio-entry-l { padding-bottom: 38%; }

.list-ratio-16-10{
    padding-bottom:62.5%; /* 10/16*100 */
}

.list-ratio-16-9{
    padding-bottom:56.25%; /* 9/16*100 */
}

.list-ratio-4-3{
    padding-bottom:75%; /* 3/4*100 */
}

.list-ratio-1-1{
    padding-bottom:100%; /* … */
}

/* ======================== */
/* --- Entry CARD theme --- */
/* ======================== */

.my-card-entry-s, .my-card-entry-l {
    margin:var(--my-spacing);
    padding:var(--my-spacing);
    background-color:var(--fxos-white);
    position: relative;
    height: 0;
    overflow: hidden;
}

.my-card-title{
    height:1.7rem;
    line-height:1.7rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    display: block;
}

.my-card-title img{
    height: 1.7rem;
    vertical-align: bottom;
    margin-right: var(--my-spacing);
}

.my-card-feed-title{
    font-size:1.5rem;
    height:1.7rem;
    line-height:1.7rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.my-card-entry-s > .my-card-feed-title{
    display: none;
}

.my-card-date{
    font-size:1.5rem;
    height:2.5rem;
    line-height:2.5rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--fxos-orange);
    display: block;
}

.my-card-snippet{
    color: #5F5F5F;
    height:6.6rem;
    line-height:2.2rem;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.7rem;
    display: block;
}

.my-card-image-container {
    position: relative;
    height: 0;
    overflow: hidden;
    display: block;
}

.my-card-image-container img{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
}

/* --- RATIOS --- */

.card-ratio-image-s { padding-bottom:25%; }
.card-ratio-image-l { padding-bottom:45%; }

.card-ratio-entry-s { padding-bottom: 12%; }
.card-ratio-entry-m { padding-bottom: 36%; }
.card-ratio-entry-l { padding-bottom: 76%; }

.card-ratio-16-10{
    padding-bottom:62.5%; /* 10/16*100 */
}

.card-ratio-16-9{
    padding-bottom:56.25%; /* 9/16*100 */
}

.card-ratio-4-3{
    padding-bottom:75%; /* 3/4*100 */
}

.card-ratio-1-1{
    padding-bottom:100%; /* … */
}

/* =============================== */
/* --- Entry SQUARE GRID theme --- */
/* =============================== */

.my-grid-entry-s, .my-grid-entry-l {
    /*margin:var(--my-spacing);*/
    padding:0;
    background-color:var(--fxos-ivory);
    position: relative;
    height: 0;
    overflow: hidden;
    width: 50%;
    box-sizing: border-box;
    float:left;
    /*border-bottom:2px solid var(--fxos-ivory);*/
    margin-bottom: var(--my-spacing);
}

.my-grid-entry-s:nth-child(odd), .my-grid-entry-l:nth-child(odd) {
    border-right:4px solid var(--fxos-ivory);
}

.my-grid-entry-s:nth-child(even), .my-grid-entry-l:nth-child(even) {
    border-left:4px solid var(--fxos-ivory);
}

.my-grid-title{
    box-sizing: border-box;
    height:auto;
    color:var(--fxos-ivory);
    line-height:1.7rem;
    width: 100%;
    overflow: hidden;
    font-weight: bold;
    position:absolute;
    z-index: 1;
    padding:1px;
    height:100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
    /*background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);*/
}

.my-grid-title img{
    height: 2rem;
    vertical-align: bottom;
    margin-right: var(--my-spacing);
}

.my-grid-feed-title{
    display: none;
}

.my-grid-date{
    display: none;
}

.my-grid-snippet{
    display: none;
}

.my-grid-image-container {
    position: relative;
    height: 0;
    overflow: hidden;
    display: block;
}

.my-grid-image-container img{
    position: absolute;
    top: 0;
    height:100%;
    left: 50%;
    transform: translate(-50%, 0);
}

/* RATIOS */

.grid-ratio-image-s { padding-bottom:100%; }
.grid-ratio-image-l { padding-bottom:100%; }

.grid-ratio-entry-s { padding-bottom:40%; }
.grid-ratio-entry-m { padding-bottom:40%; }
.grid-ratio-entry-l { padding-bottom:40%; }

/* =============== */
/* --- Entries --- */
/* =============== */

#feeds-entries-container{
    display:block;
    width: calc(100%);
    height: calc(100%);
    background: var(--fxos-ivory);
    position:fixed;
}
#feeds-entries{
    width:100%;
    height: calc(100% - 13.5rem);
    font-size:1.7rem;
}

#feeds-entries > div:first-child {
    margin-top:0rem;
}

#feeds-entries > h2 {
    color: var(--fxos-orange);
    overflow: auto;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0 var(--my-spacing) 0 var(--my-spacing);
    font-size:1.7rem;
    font-weight:normal;
}
