/*
    --fxos-blue: #00AACC;
    --fxos-orange: #FF4E00;
    --fxos-brick: #CD6723;
    --fxos-red: #B90000;
    --fxos-green: #5F9B0A;
    --fxos-black: #000000;
    --fxos-white: #FFFFFF;
    --fxos-warm-grey: #333333;
    --fxos-grey: #2C393B;
    --fxos-light-grey: #F4F4F4;
    --fxos-ivory: #EAEAE7;
*/
html {background-color: #EAEAE7;} /* --fxos-ivory */

/* --- Header & subHeader ---*/

section[role="myHeader"] {color: #2C393B;} /* --fxos-grey */
section[role="myHeader"] > header button {color: #FFFFFF;} /* --fxos-white */
section[role="myHeader"] > header:first-child {background-color: #F97C17;} /* --fxos-orange-light */
section[role="myHeader"] > header.mySystemHeader {background-color: #F4F4F4;} /* --fxos-light-grey */

section[role="mySubHeader"] > header:first-child {background-color: #EAEAE7;} /* --fxos-ivory */
section[role="mySubHeader"] > header:first-child h1 {color: #000000;} /* --fxos-black */
section[role="mySubHeader"] > header h2 {
    color: #000000; /* --fxos-black */
    padding: 0 2.5% 0 2.5%; /* --my-spacing */
}
section[role="mySubHeader"] > header:first-child button {color: #FFFFFF;} /* --fxos-white */
section[role="mySubHeader"] > header:first-child a, 
section[role="mySubHeader"] > header:first-child button {color: #FFFFFF;} /* --fxos-white */
section[role="mySubHeader"] > header:first-child a:active,
section[role="mySubHeader"] > header:first-child button:active {color: #00AACC;} /* --fxos-blue */
section[role="mySubHeader"] > header span {color: #2C393B;} /* --fxos-grey */
section[role="mySubHeader"] > header span:active {color:#00AACC;} /* --fxos-blue */
section[role="mySubHeader"] > header.mySystemHeader{
    color: #FFFFFF; /* --fxos-white */
    background-color: #EAEAE7; /* --fxos-ivory */
}
/* --- Footer --- */

section[role="myFooter"] {background-color: #2C393B;} /* --fxos-grey */
section[role="myFooter"] > header:first-child button {color: #FFFFFF;} /* --fxos-white */

/* --- Enable / Disable element(s) --- */

.enable-fxos-blue {color: #00AACC !important;} /* --fxos-blue */
.enable-fxos-white {color: #FFFFFF !important;} /* --fxos-white */

/* --- Theme LIST --- */

.my-list-entry-s, .my-list-entry-l {
    padding:2.5%; /* --my-spacing */
    background-color: #FFFFFF; /* --fxos-white */
}
.my-list-title img{margin-right: 2.5%;} /* --my-spacing */
.my-list-feed-title {padding: 0% 2.5% 0 0;} /* --my-spacing */
.my-list-date {
    color: #FF4E00; /* --fxos-orange */
    padding: 0% 0% 0% 2.5%; /* --my-spacing */
}
.my-list-snippet {padding-left: 2.5%;} /* --my-spacing */

/* --- Theme CARD --- */

.my-card-entry-s, .my-card-entry-l {
    margin: 2.5%; /*--my-spacing */
    padding: 2.5%; /* --my-spacing */
    background-color: #FFFFFF; /* --fxos-white */
}
.my-card-title img{margin-right: 2.5%;} /* --my-spacing */
.my-card-date{color: #FF4E00;} /* --fxos-orange */

/* --- Theme GRID --- */

.my-grid-entry-s, .my-grid-entry-l {background-color: #EAEAE7;} /*--fxos-ivory */
.my-grid-title{color: #EAEAE7;} /* --fxos-ivory */
.my-grid-title img{margin-right: 2.5%;} /* --my-spacing */

/* --- Entries --- */

#feeds-entries-container {background: #EAEAE7;} /*--fxos-ivory */

#feeds-entries-container h1 {color: #FFFFFF;} /* --fxos-white */

/* --- Main entry --- */

#main-entry-container h1 {color: #FFFFFF;} /* --fxos-white*/

/* --- Settings --- */

#settings {
    background-color: #EAEAE7; /* --fxos-ivory */
    padding: 2.5%; /* --my-spacing */;
}
#settings > h2 {
    color: #2C393B; /* --fxos-grey */
    padding: 2.5%; /* --my-spacing */
}
#settings > ul {
    padding-left: 2.5%; /* --my-spacing */
    padding-right: 2.5%; /* --my-spacing */
}
#settings > ul > li {border-bottom: #EAEAE7;} /* --fxos-ivory */
#settings > ul > li > a {color: #EAEAE7;} /* --fxos-ivory */
#settings > ul > li p:first-of-type {color: #EAEAE7;} /* --fxos-ivory */
#settings span {margin-right: 2.5%;} /* --my-spacing */
#settings select {margin-bottom: 2.5%;} /* --my-spacing */

[data-type="list"] aside > span {color: #657073;} /* --fxos-icons */

[data-type="list"] ul {
    background-color: #F4F4F4; /* --fxos-light-grey */
}

[data-type="list"] li {
    padding-top: 0.5rem;
    padding-left: 2.5%; /* --my-spacing */
    padding-right: 2.5%; /* --my-spacing */
    border-bottom: solid 0.1rem #EAEAE7; /* --fxos-ivory */
}

/* --- Feeds list --- */

#feeds-list {
    background-color: #EAEAE7; /* --fxos-ivory */
}
#feeds-list > h2 {
    color: #2C393B; /* --fxos-orange */
    padding: 2.5%; /* --my-spacing */
}
#feeds-list > ul {
    background-color: #F4F4F4; /* --fxos-light-grey */
    padding-left: 2.5%; /* --my-spacing */
    padding-right: 2.5%; /* --my-spacing */
}
#feeds-list > ul > li {
    border-bottom: #EAEAE7; /* --fxos-ivory */
    margin: 2.5% 0 2.5% 0; /* --my-spacing */
}
#feeds-list > ul > li > a {color: #EAEAE7;} /* --fxos-ivory */
#feeds-list button {margin-right: 2.5%;} /* --my-spacing */
count{
    background-color: #00AACC; /* --fxos-blue */
    color: #FFFFFF; /* --fxos-white */
    margin-right: 2.5%; /* --my-spacing */
}

/* --- Find feeds --- */

#find-feeds {
    background-color: #EAEAE7; /* --fxos-ivory */
    padding: 2.5%; /* --my-spacing */
}
#find-feeds > h2 {color: #FF4E00;} /* --fxos-orange */
#find-feeds > ul {
    background-color: #FFFFFF; /* --fxos-white */
    padding-left: 2.5%; /* --my-spacing */
    padding-right: 2.5%; /* --my-spacing */
}
#find-feeds > ul > li {
    border-bottom: #EAEAE7; /* --fxos-ivory */
    margin: 2.5% 0 0 0; /* --my-spacing) */
    padding: 0 0 2.5% 0; /* --my-spacing */
}
#find-feeds > ul > li > a {color: #EAEAE7;} /*--fxos-ivory */
#find-feeds button {margin-right: 2.5%;} /* --my-spacing */

