/* 
 * Firefox OS Lists
 * 
 * Documentation  : https://www.mozilla.org/en-US/styleguide/products/firefox-os/lists/
 * Usage examples : http://www.w3.org/TR/css-variables/
 * 
 * */
 
#find-feeds-container{
    display: block;
    width:20%;
    height:100%;
    /*margin:0px auto;*/
    /*position: fixed;*/
    top:0%;
    left:0%;
    z-index:12;
    box-sizing: border-box;
}

#find-feeds {
    background-color: var(--fxos-ivory);
    border: 0px solid red;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 13.5rem) !important;
    overflow-x:hidden;
    overflow-y:auto;
    padding: var(--my-spacing);
}

#find-feeds > h2 {
    color: var(--fxos-orange);
    overflow: auto;
    padding: 0 1.5rem;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#find-feeds > h3 {
    overflow: auto;
    padding: 0 1.5rem;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#find-feeds > ul {
    background-color: var(--fxos-white);
    overflow: auto;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding-left: var(--my-spacing);
    padding-right: var(--my-spacing);
    font-size:1.7rem;
}

#find-feeds > ul > li {
    width: 100%;
    box-sizing: border-box;
    border-bottom: solid 0.1rem var(--fxos-ivory);
    color: #333;
    margin: var(--my-spacing) 0 0 0;
    padding: 0 0 var(--my-spacing) 0;
    display: block;
    position: relative;
}
 
#find-feeds > ul > li:last-child {
    border: none;
}

#find-feeds > ul > li > a {
    text-decoration: none;
    color: var(--fxos-ivory);
    display: block;
    height: 6rem;
    position: relative;
    border: none; 
    outline: none;
    overflow: hidden;
}

#find-feeds > ul > li p {
    border: medium none;
    color: #858585;
    display: block;
    font-size: 1.5rem;
    line-height: 1.9rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#find-feeds > ul > li p:first-of-type {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

#find-feeds button {
    width:4rem;
    padding:0;
    margin-right: var(--my-spacing);
    float: left;
    cursor: pointer;
    margin-bottom: 2rem;
}

#find-feeds button.cantAddNewFeed{
    line-height: 5rem;
}

#find-feeds-container form{
    display: flex;
}
