
/*
 * Firefox OS Style Guide.
 * https://www.mozilla.org/en-US/styleguide/products/firefox-os/headers/
 * */
 
 /* ====================== */
 /* --- Default Header --- */
 /* ====================== */
 
section[role="myHeader"] {
    width: 100%;
    height: 5rem;
    margin:0;
    position: relative;
    z-index:1;
    text-align:center;
}

section[role="myHeader"] > header:first-child {
    background-color: #f97c17;
    padding:0;
    height:5rem;
    border:medium none;
}

section[role="myHeader"] > header:first-child h1 {
    color: var(--fxos-white);
    font-size: 2.3rem;
    line-height: 5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0rem;
    height: 100%;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

section[role="myHeader"] > header:first-child a, 
section[role="myHeader"] > header button {
    color: var(--fxos-white);
    box-sizing: border-box;
    overflow: hidden;
    width: 20%;
    max-width: 100px;
    height: 5rem;
    border: medium none;
    background: transparent none repeat scroll 0% 0%;
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 5rem;
    border-radius: 0px;
    text-decoration: none;
    text-align: center;
    text-shadow: none;
    font-style: italic;
}

section[role="myHeader"] > header:first-child a:active,
section[role="myHeader"] > header:first-child button:active {
    color: var(--fxos-blue);
}

section[role="myHeader"] > header button:first-child {
    color: var(--fxos-white);
    position:absolute;
    top:0;
    left:0;
}

section[role="myHeader"] > header button:last-child {
    color: var(--fxos-white);
    position:absolute;
    top:0;
    right:0;
}

/* --- Section option(s) --- */

section[role="myHeader"]._fixed{
    top: 0;
    position: fixed;
}

 /* ================================= */
 /* --- System (edit mode) header --- */
 /* ================================= */

section[role="myHeader"] > header.mySystemHeader{
    color: var(--fxos-white);
    background-color: var(--fxos-grey);
}
