section[role="mySubEntry"] {
    width: 100%;
    height: 4rem;
    margin:0;
    position: relative;
    z-index:1;
}

section[role="mySubEntry"] > header.mySystemHeader{
    color: var(--fxos-black);
    background-color: var(--fxos-ivory);
    display:inline-flex;
    width:100%;
}

section[role="mySubEntry"] > header span {
    width:50%;
    height:4rem;
    padding:0.25rem;
    box-sizing: border-box;
    border-top: 2px solid var(--fxos-white);
}

section[role="mySubEntry"] > header div {
    font-size:1.5rem;
    line-height: 1.75rem;
    height:3.5rem;
    box-sizing: border-box;
    width:100%;
    overflow:hidden;
}

section[role="mySubEntry"] > header span:nth-child(1) {
    text-align:left;
}

section[role="mySubEntry"] > header span:nth-child(2) {
    text-align:right;
}
