/*
 * https://www.mozilla.org/en-US/styleguide/products/firefox-os/headers/
 * */

section[data-type="sidebar"] > header:first-child {
    background-color: var(--fxos-black);
}

section[data-type="sidebar"] > nav > ul > li {
    color: #fff;
    list-style: none outside none;
}

section[data-type="sidebar"] > nav > ul > li > a {
    border-bottom: 0.1rem solid #596068;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 1.6rem;
    line-height: 4.35rem;
    overflow: hidden;
    padding-right: 0.8rem;
    text-decoration: none;
    text-indent: 3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

section[data-type="sidebar"] > nav > ul,  
section[data-type="sidebar"] > nav > ul > li {
    font-weight: normal;
}
