/* https://www.mozilla.org/en-US/styleguide/products/firefox-os/typeface/ */

html, body {
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background-color: var(--fxos-ivory);
    font-size: 62.5%;
}

body {
    width: 100%;
    height: inherit;
    overflow: hidden;
}

section[role="region"] {
    margin-bottom: 1.5rem;
    position: relative;
}

#content img{
    display: block;
    max-width: 100% !important;
    height: auto !important;
}

#feeds-entries-container{
    display:block;
    width: calc(100%);
    height: calc(100%);
    background: var(--fxos-ivory);
    position:fixed;
}
#feeds-entries{
    width:100%;
    height: calc(100% - 9.5rem);
}

.feeds-entries-next-day {
    padding:0% var(--my-spacing) 0% var(--my-spacing);
    font-size: 1.7rem;
    color: var(--fxos-orange);
}

.entrie, .entry-small{
    padding: var(--my-spacing);
    width: calc(100% - (2 * var(--my-spacing)));
    margin: var(--my-spacing);
    background-color: var(--fxos-white);
    box-sizing: border-box;
}

.entrie-title {
    font-size: 1.9rem;
}

.entrie-title > a {
    display: block;
    text-decoration:none;
    color: black;
}

.entrie-date {
    font-size: 1.4rem;
    color: var(--fxos-orange);
}

.entrie > .entrie-image {
    max-width: 100%;
}

.entrie-contentSnippet{
    color: #858585;
    font-size: 1.7rem;
}

.entrie-more{
    text-align: center;
}

.entrie-more > a {
    display: inline-block;
}

/* Entry small */

.entry-small > .entry-small-image {
    max-width: 35%;
    float:right;
    margin-left:2%;
}

.entry-small > .entry-small-title {
    font-size: 1.5rem;
}

.entry-small > .entry-small-title:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.entry-small > .entry-small-date {
    color: var(--fxos-orange);
}

/* Main Entry */

#main-entry-container{
    width:100%;
    height:100%;
    margin:0px auto;
    position: fixed;
    top:0%;
    left:100%;
    background: var(--fxos-ivory);
    z-index:10;
    box-sizing: border-box;
}

#main-entry-container > #main-entry{
    box-sizing: border-box;
    padding:0;
    width:100%;
    height: calc(100% - 9.5rem);
    background-color:#FFFFFF;
    overflow-x:hidden;
    overflow-y:auto;
}

#main-entry-container > #main-entry > #content {
    max-width: 100%;
    padding: var(--my-spacing);
    margin:0;
}

#content * {
    max-width: 100%;
}

/* Loader */

#loading {
    width:0%;
    height:0.5rem;
    display:block;
    position:absolute;
    top:5rem;
    background-color: var(--fxos-blue);
    z-index:100;
}

/* --- */

.scrollable {
    overflow: auto;
    height: calc(100% - 9.5rem);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}

.scrollable.header {
    height: calc(100% - 5rem);
    top: 5rem;
}
