/*
 * Firefox OS Tab Bar, Toolbar and Filters
 * 
 * Documentation : https://www.mozilla.org/en-US/styleguide/products/firefox-os/tab-bars/
 * 
 * */

.toolbar {
    background-color: var(--fxos-grey);
    font-size: 2.3rem;
    height: 4.5rem;
    margin-top: -4.5rem;
    position: fixed;
    top: 100%;
    width: 100%;
    z-index:10;
}

.toolbar > a {
    display:inline-block;
    width:20%;
    text-align: -moz-center;
    line-height:4.5rem;
}

.toolbar > a > img {
    display:inline-block;
    vertical-align:text-bottom;
}
