/* 
 * Firefox OS Color Palette
 * 
 * Documentation  : https://www.mozilla.org/en-US/styleguide/products/firefox-os/color/ 
 * Usage examples : http://www.w3.org/TR/css-variables/
 * 
 * */

:root {
    --fxos-orange: #00AACC;
    --fxos-orange-light: #00768E;
}

.colorize {
    background-color: #d6dee0 !important;
    border-color: #d6dee0 !important;
}