/* 
 * Firefox OS Lists
 * 
 * Documentation  : https://www.mozilla.org/en-US/styleguide/products/firefox-os/lists/
 * Usage examples : http://www.w3.org/TR/css-variables/
 * 
 * */
 
#feeds-list-container{
    display: block;
    width:100%;
    max-width: 480px;
    height:100%;
    /*margin:0px auto;*/
    position: absolute;
    top:0;
    left:0;
    z-index:2;
    box-sizing: border-box;
}

#feeds-list {
    background-color: var(--fxos-ivory);
    border: 0px solid red;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 9.5rem) !important;
    overflow-x:hidden;
    overflow-y:auto;
    padding: 0;
}

#feeds-list > h2 {
    color: var(--fxos-grey);
    overflow: auto;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: var(--my-spacing);
    font-size:1.7rem;
    font-weight:normal;
}

#feeds-list > h3 {
    overflow: auto;
    padding: 0 1.5rem;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#feeds-list > ul {
    background-color: var(--fxos-light-grey);
    overflow: auto;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size:1.7rem;
}

#feeds-list > ul > li {
    width: 100%;
    box-sizing: border-box;
    border-bottom: solid 0.1rem var(--fxos-ivory);
    color: #333;
    padding: var(--my-spacing); 
    margin: 0; 
    display: block;
    position: relative;
}
 
#feeds-list > ul > li:last-child {
    border: none;
}

#feeds-list > ul > li > a {
    text-decoration: none;
    color: var(--fxos-ivory);
    display: block;
    position: relative;
    border: none; 
    outline: none;
}

#feeds-list > ul > li p {
    border: medium none;
    color: #333;
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 2rem;
}

#feeds-list > ul > li p:first-of-type {
    padding-left: 1.5rem;
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 0;
    height: 4rem;
    width: auto;
    float: left;
}

#feeds-list > ul > li img {
    /*height: 2rem;*/
    background: var(--fxos-orange-light);
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    vertical-align: middle;
    margin-right: var(--my-spacing);
    float: right;
}

#feeds-list > ul > li time {
    color: #858585;
}

#feeds-list button {
    width:4rem;
    padding:0;
    padding-right: var(--my-spacing);
    vertical-align: bottom;
}

count{
    background: var(--fxos-blue);
    color: var(--fxos-white);
    width:4rem;
    height:4rem;
    line-height:4rem;
    border-radius:2rem;
    display:inline-block;
    text-align:center;
    padding-right: var(--my-spacing);
}

/* --- All Feeds --- */

#feeds-list > ul:first-of-type > li p {
    height: 4rem;
    line-height: 4rem;
}

/* --- Keywords --- */

#feeds-list > ul[class='keywords'] > li p {
    height: 4rem;
    line-height: 4rem;
}