
.developper-menu {
    display: none;
}

#login-view-container{
    /* will-change: transform; GPU acceleration */
    position:absolute;
    display: block;
    width:100%;
    max-width: 480px;
    height:100%;
    /*margin:0px auto;*/
    /*position: fixed;*/
    top:0%;
    left:100%;
    z-index:10;
    box-sizing: border-box;
}

#login-view-container:before {
    position:inherit;
    content: " ";
	width: 100%;
	height: 100%;
	/*box-shadow: 0 0 22px #777;*/
}

#login-view {
    background-color: var(--fxos-ivory);
    border: 0px solid red;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 9.5rem) !important;
    overflow-x:hidden;
    overflow-y:auto;
    padding: 0;
}

#login-view > h2 {
    color: var(--fxos-grey);
    overflow: auto;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: var(--my-spacing);
    font-size:1.6rem;
    font-weight:normal;
}

#login-view h3 {
    font-size:1.6rem;
    font-weight:normal;
    overflow: auto;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#login-view span{
    height: 4rem;
    line-height:4rem;
    display: inline-block;
    color: #858585;
    vertical-align:middle;
    margin-right: var(--my-spacing);
}

#login-view webview {
    height: 100%;
}
